<h1><a href="/"><strong>Adam Gilman</strong></a></h1>
<a href="https://github.com/adamgilman">GitHub</a> <br/>
<a href="http://linkedin.com/in/adamgilman">LinkedIn</a><br/>

<hr/>

<h1>All Content</h1>
<a href="/blog/">Blog Posts</a><br/>
<a href="/recentreadings/">Recent Readings</a><br/>

<hr/>
<h3>Products</h3>
  <a href="http://www.pgatour.com/ipad/">PGA TOUR iPad Application</a> <br/>
  <a href="http://www.cnn.com/SPECIALS/2010/worldcup/twitter.buzz/">CNN Twitter World Cup Buzz</a><br/>
  <a href="http://www.plainvid.com/about">PlainVid</a><br/>
<hr>

<h4>Open Source</h4>
  <a href="https://github.com/adamgilman/python-lockitron">Lockitron Python API</a><br/>
  <a href="https://github.com/adamgilman/stretchboard">stretchboard</a><br/>
<hr/>

<h4>Contact Me</h4>
  <a href="mailto:me@adamgilman.com">me@adamgilman.com</a>